.App {
  position: relative;
  text-align: center;
  font-weight: bold;
  border: 1px solid #212121;
  max-width: 200px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.App:hover {
  background-color: #484e53;
  transition: 0.3s ease;
}

.App::after {
  position: absolute;
  top: -16.6px;
  left: 10px;
  content: ">";
  font-size: 20px;
  transition: 0.4s ease;
}

.App::before {
  position: absolute;
  bottom: -12px;
  right: 10px;
  content: "<";
  font-size: 20px;
  transition: 0.4s ease;
}

.App:hover::after {
  transition: 0.4s ease;
  left: 200px;
}

.App:hover::before {
  transition: 0.4s ease;
  right: 200px;
}

.count {
  text-align: center;
  border-top: 1px dashed #212121;
  margin-top: 100px;
}
